<!DOCTYPE html>

<header>
	<div class = "container">
		<div class = "profile">
			<div class="profile-image">
				<%= image_tag @user.profile.avatar.url(:medium) %>		
			</div>
				<div class="profile-user-name"><%= @user.profile.first_name %></div>&nbsp;
				<div class="profile-user-name"><%= @user.profile.last_name %></div>
				<button class="profile-edit-btn">
					
						<%= link_to "Edit Profile", edit_user_profile_path(user_id: current_user.id), class: "buttonprofile"%>
					
				</button>
			
			
		</div>
		
		<% @user.posts.order("created_at DESC").each do |x| %>
			<div class="fb" id="download">
	        	<div class="post">
	                <div class="top">
	                    <div class="name">
	                        <strong><a href="#"><span class="text-name"><%= x.title %></span></a></strong>
	                        
	                        
	                    </div>
	                </div>
	                <span class="text-message"><%= x.details %></span><br><br>
	                <%= button_to 'Delete', user_post_path(x), method: :delete, class: "postbutton"%>
				</div>
			</div>
			<% end %>
		</div>
	</div>`
</header>